@import url("components/reset.css");
@import url("components/navigation.css");
@import url("components/buttons.css");
@import url("components/footer.css");

@import url("pages/home.css");
@import url("pages/pages.css");
@import url("pages/about.css");
@import url("pages/stories.css");
@import url("pages/gallery.css");
@import url("pages/contacts.css");
@import url("pages/cart.css");